/* gothic-a1-regular - latin */
@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gothic-a1-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/gothic-a1-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/gothic-a1-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gothic-a1-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/gothic-a1-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gothic-a1-v12-latin-regular.svg#GothicA1') format('svg');
    /* Legacy iOS */
}

/* gothic-a1-700 - latin */
@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/gothic-a1-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/gothic-a1-v12-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/gothic-a1-v12-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gothic-a1-v12-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/gothic-a1-v12-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gothic-a1-v12-latin-700.svg#GothicA1') format('svg');
    /* Legacy iOS */
}

/* Common styles starts */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: 'Gothic A1';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: #252B42;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1152px;
    margin: 0px auto;
    padding: 0 15px;
}

/* Common styles end */


/* Header styles start */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}

.header__logo {
    margin-right: 30px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin-right: 30px;
}

.menu__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
    color: #a49999;
}

@media screen and (max-width: 522px) {
    .menu__item {
        flex: 1 1 115px;
        text-align: left;
        padding: 5px 5px;
    }

    .menu__item:not(:last-child) {
        margin-right: 0px;
    }

    .menu__link {
        font-size: 18px;
    }
}

/* Header styles end */


/* Main styles start */

.page__intro {
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
    border-radius: 0px;
    padding: 100px 0px 0px 0px;
}

.intro__container {
    position: relative;
}

.intro__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 198px 0px 297px 0px;
    max-width: 677px;
    z-index: 2;
}

.intro__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.intro__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 146%;
    color: #FFFFFF;
    margin-bottom: 45px;
    max-width: 677px;
}

.intro__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FC0A7E;
    border-radius: 3px;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #FFFFFF;
    max-width: 170px;
}

.intro__button:hover,
.intro__button:focus,
.intro__button:active {
    background-color: #450e4b;
}

.intro_image {
    position: absolute;
    top: 0;
    left: 55%;
    z-index: 1;
}

.intro_image img {
    animation-name: PhoneAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes PhoneAnimation {
    from {
        transform: translateX(300px)
    }
}

.intro__arrow {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transition: all 0.3s ease 0s;
    z-index: 2;
}

.intro__arrow:hover {
    transform: translateY(15px);
}

@media screen and (max-width: 1115px) {
    .intro_image {
        opacity: 40%;
    }
}


@media screen and (max-width: 708px) {
    .intro__body {
        padding: 130px 0px;
    }

    .intro__title {
        font-size: 50px;
        margin: 10px 0px;
    }

    .intro__subtitle {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .intro_image img {
        height: 400px;
    }
}

@media screen and (max-width: 410px) {
    .intro__button {
        max-width: 100%;
    }
}

.page__aboutapp {
    background: #1B1B1B;
}

.aboutapp__header {
    padding-top: 80px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
}

.aboutapp__header-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
    margin-bottom: 30px;
    align-self: center;
}

.aboutapp__header-title {
    font-weight: 400;
    font-size: 38px;
    line-height: 126.36%;
    color: #FFFFFF;
    text-align: center;
    max-width: 607px;
    align-self: center;
}

.aboutapp__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutapp__image img {
    width: 100%;
}

@media screen and (max-width: 522px) {
    .aboutapp__header-label {
        font-size: 10px;
    }

    .aboutapp__header-title {
        font-size: 26px;
    }

    .aboutapp__header {
        padding-top: 50px;
        padding-bottom: 35px;
    }
}

.overview__container {
    padding-top: 80px;
}

.overview__body {
    display: flex;
    align-items: center;
    margin-bottom: 160px;
}

.overview__info {
    flex: 1 1 50%;
    padding: 0px 199px 0px 154px;
}

.overview__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
    margin-bottom: 30px;

}

.overview__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 126%;
    color: #000000;
    margin-bottom: 22px;
}

.overview__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    color: #6B6B6B;
}

.overview__image {
    flex: 1 1 auto;
}

.overview__image img {
    width: 100%;
}

@media screen and (max-width: 1120px) {

    .overview__info {
        flex: 1 1 40%;
        padding: 0px 100px 0px 20px;
    }
}

@media screen and (max-width: 766px) {
    .overview__container {
        padding-top: 40px
    }

    .overview__body {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .overview__info {
        text-align: center;
        padding: 0px;
        margin-bottom: 30px;
    }

    .overview__label {
        margin-bottom: 15px
    }

    .overview__title {
        margin-bottom: 10px
    }

    .overview__body-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .overview__image {
        /* height: 70%;
        width: 70%; */
    }

}

@media screen and (max-width: 522px) {

    .overview__label {
        font-size: 10px;
    }

    .overview__subtitle {
        font-size: 15px;
    }

    .overview__title {
        font-size: 26px;
    }


}



/* Main styles end */